src/cactus_runner/schema/csipaus13/csipaus-ext.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  xmlns="https://csipaus.org/ns/v1.3"
  xmlns:bs="urn:ieee:std:2030.5:ns"
  targetNamespace="https://csipaus.org/ns/v1.3">

  <xs:import namespace="urn:ieee:std:2030.5:ns" schemaLocation="sep.xsd" />

  <xs:element name="opModImpLimW" type="bs:ActivePower" />
  <xs:element name="opModExpLimW" type="bs:ActivePower" />
  <xs:element name="opModGenLimW" type="bs:ActivePower" />
  <xs:element name="opModLoadLimW" type="bs:ActivePower" />
  <xs:element name="opModStorageTargetW" type="bs:ActivePower" />

  <xs:element name="doeModesSupported" type="DOEControlType" />
  <xs:element name="doeModesEnabled" type="DOEControlType" />
  <xs:element name="vppModesSupported" type="VPPControlType" />
  <xs:element name="vppModesEnabled" type="VPPControlType" />

  <xs:element name="setMinWh" type="bs:WattHour" />

  <xs:element name="ConnectionPointLink" type="bs:Link" />
  <xs:element name="ConnectionPoint" type="ConnectionPointType" />

  <xs:complexType name="DOEControlType">
    <xs:annotation>
      <xs:documentation>Bitmap indicating the DOE controls implemented by the device. Bit positions
        SHALL be defined as follows: 0 - opModExpLimW (Maximum Imported Active Power) 1 -
        opModImpLimW (Maximum Exported Active Power) 2 - opModGenLimW (Maximum Discharge Rate) 3 -
        opModLoadLimW (Maximum Charge Rate) All other values reserved.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="bs:HexBinary8" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="VPPControlType">
    <xs:annotation>
      <xs:documentation>Bitmap indicating the VPP controls supported by and enabled on the device.
        Bit positions SHALL be defined as follows: 0 - opModStorageTargetW (Storage Target Active
        Power) All other values reserved.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="bs:HexBinary8" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConnectionPointType">
    <xs:annotation>
      <xs:documentation>Contains identification information related to the network location at which
        the EndDevice is installed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bs:Resource">
        <xs:sequence>
          <xs:element name="connectionPointId" minOccurs="1" maxOccurs="1"
            type="bs:String32">
            <xs:annotation>
              <xs:documentation>The identifier referring to the connection point. Typically the NMI.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CombinedTimeTariffIntervalListLink" type="bs:ListLink" />
  <xs:element name="ConsumptionTariffIntervalListSummary"
    type="ConsumptionTariffIntervalListSummary" />

  <xs:complexType name="CombinedTimeTariffIntervalList">
    <xs:annotation>
      <xs:documentation>SHALL include all TimeTariffInterval resources under the TariffProfile,
        regardless of which RateComponent the TimeTariffInterval is associated.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bs:TimeTariffIntervalList" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConsumptionTariffIntervalListSummary">
    <xs:annotation>
      <xs:documentation>A list extension to allow clients to retrieve ConsumptionTariffInterval
        information without making a request against the ConsumptionTariffIntervalList resource.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bs:ConsumptionTariffIntervalList" />
    </xs:complexContent>
  </xs:complexType>

</xs:schema>